<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="BrowserSim"
            id="org.jboss.tools.vpe.browsersim.eclipse.commands.category">
      </category>
      <command
            name="Run BrowserSim"
            categoryId="org.jboss.tools.vpe.browsersim.eclipse.commands.category"
            id="org.jboss.tools.vpe.browsersim.eclipse.commands.runBrowserSim">
      </command>
   </extension>
   <!--extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.tools.vpe.browsersim.eclipse.commands.runBrowserSim"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension-->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jboss.tools.vpe.browsersim.eclipse.actionSet"
            label="BrowserSim"
            visible="false">
            	<action
                   id="org.jboss.tools.vpe.browsersim.eclipse.runBrowserSim"
                   definitionId="org.jboss.tools.vpe.browsersim.eclipse.commands.runBrowserSim"
                   toolbarPath="browserSim"
                   label="Run BrowserSim"
                   class="org.jboss.tools.vpe.browsersim.eclipse.actions.RunBrowserSimAction"
                   icon="icons/browsersim_16px.png">
            	</action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            extensions="htm, html"
            icon="icons/browsersim_16px.png"
            id="org.jboss.tools.vpe.browsersim.eclipse.editors.BrowserSimLauncher"
            launcher="org.jboss.tools.vpe.browsersim.eclipse.editors.BrowserSimEditorLauncher"
            name="BrowserSim">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.browser.browsers">
       <browser
             executable=""
             factoryclass="org.jboss.tools.vpe.browsersim.eclipse.BrowserSimFactory"
             id="org.jboss.tools.vpe.browsersim.eclipse"
             name="BrowserSim"
             os="Win32,linux,MacOSX">
          <location>
             .
          </location>
   </browser>
   </extension>
	<extension point="org.eclipse.ui.perspectiveExtensions"> 
		<perspectiveExtension targetID="org.jboss.tools.common.ui.JBossPerspective"> 
			<actionSet id="org.jboss.tools.vpe.browsersim.eclipse.actionSet"/> 
		</perspectiveExtension> 
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions"> 
		<perspectiveExtension targetID="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"> 
			<actionSet id="org.jboss.tools.vpe.browsersim.eclipse.actionSet"/> 
		</perspectiveExtension> 
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions"> 
		<perspectiveExtension targetID="org.jboss.tools.jst.cssPerspective"> 
			<actionSet id="org.jboss.tools.vpe.browsersim.eclipse.actionSet"/> 
		</perspectiveExtension> 
	</extension>
</plugin>
